.card {
  display: flex;
  gap: 0.75rem;
  padding: 1.5rem;
  align-items: center;
}

.icon {
  width: 136px;
  height: 136px;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: center;
}

.title {
  font-family: 'Formular', 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
  color: black;
  margin: 0;
}

.text {
  font-family: 'Formular', 'Arial', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25rem;
  color: black;
  margin: 0;
}

@media (max-width: 1024px) {
  .card {
    padding: 0;
  }

  .icon {
    width: 108.8px;
    height: 108.8px;
  }

  .title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}